.about-image {
    /* width: 100%; */
    border-radius: 2rem;
    /* border: 1px solid; */
    flex: 0 0 auto;
    width: 41.66666667%;
    height: 100%;
    float: left;
    margin: 0 2rem 2rem 0;
}

.about-section {
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
}
.about-section::after {
    content: "";
    display: table;
    clear: both;
}

h1.about {
    text-align: center;
    margin: 2rem auto;
}