:root {
    --primary-color: #6A0DAD;
    --secondary-color: rgb(190, 2, 190);
    --tertiary-color: #FF1000;
    --primary-color-selected: #3949ab;
    --secondary-color-selected: #c20d00;
    --background-color: #F5F5F5;
    --text-color: #1B1B1B;
    --button-color: var(--secondary-color);

    /* -webkit-text-stroke: 0.3px black;         Standard property for future support */
}

body {
    background-color: var(--background-color) !important;
}

html[data-theme="color-blind"] {
    --primary-color: black;
    --secondary-color: rgb(37, 37, 37);
}

h1 {
    color: var(--primary-color);
}
h1.header {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h2 {
    color: var(--secondary-color);
}
h2.header {
    text-align: center;
    margin-bottom: 2rem;
}

.themeFontColor {
    color: var(--primary-color);
}

tr {
    cursor: pointer;
}

button {
    border-radius: 1rem !important;
    font-weight: bold !important;
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    margin: 0 auto;
    min-width: 10rem;
}
button.selected, button.secondary {
    background-color: var(--secondary-color);
}
button.wide {
    width: 20rem;
}
button:hover {
    background-color: var(--secondary-color-selected);
    color: white !important;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

footer {
    width: 100%;
}
footer p {
    text-align: center;
    /* margin: 2rem auto; */
}

@media(max-width: 767px) {
  .button-row button {
      width: 100%;
  }
}