/* .navbar {
    top: 0;
    width: 100%;
    background-color: var(--highlight-color);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0.5rem 0;
    z-index: 1;
} */

.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
@media(max-width: 767px) {
  .navbar {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .navbar button {
    width: 100%;
  }
}