.services {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 100%;
    /* border: 1px solid red; */
    margin: 2rem auto;
}

.service-card {
    width: 25rem;
    height: 20rem;
    border: 1px solid blue;
    position: relative;
    padding: 1.5rem;
    cursor: pointer;
}
.service-card h3 {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}
.service-card button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
}.service-card button:hover {
    background-color: var(--secondary-color-selected);
    border-color: var(--secondary-color-selected);
    color: white;
}