.services {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 100%;
    margin: 2rem auto;
}

.service-card {
    width: 25rem;
    height: 20rem;
    position: relative;
    padding: 1.5rem;
    cursor: pointer;
    background-color: var(--light-secondary-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-align: center;
    border-radius: 1rem;
}
.service-card h3 {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}
.service-card button {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: white;
}.service-card button:hover {
    background-color: var(--light-primary-color);
    border-color: var(--primary-color);
    color: white;
}

.featured-services {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--light-secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.featured-service {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
}
.featured-service h2 {
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    margin: 2rem auto;
}
.featured-service a {
    text-decoration: none;
}
.featured-service .content {
    flex-direction: column;
    height: 100%;
    position: relative; /* Added to make button absolute to this container */
    margin-bottom: 4rem;
}
.featured-service button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-2.5rem);
}
.featured-service button:hover {
    background-color: var(--light-primary-color);
    border-color: var(--primary-color);
}
.featured-service::selection {
    background-color: var(--primary-color) !important;
    color: white;
}
.featured-service::-moz-selection {
    background: var(--primary-color) !important;
    color: white;
}

.featured-image {
    object-fit: cover;
    border-radius: 1rem;
    margin: 1rem;
    margin-right: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
    float: left;
    width: 40%;
    border: 1px solid var(--secondary-color);
}

@media (max-width: 991px) {
    .featured-image {
        float: none;
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .content {
        display: block;
        width: 100%;
    }
}